
/* before use korle oytiko select hobe na */
        .h4::before{
            content: "this";
            color: aqua;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;

        }


  /* display te paragaph er counter hobe */
        body{
            counter-reset: section;
        }

        p::before{
            counter-increment: section;
            content: "crush" counter(section) ":"; 
        }



  /* shobgulor age symble  🤯  auto boshbe but akhane specific class use korse */
        .l8::before{
            content:  "🤯" ;
        }


        
    